<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
  {{ block "head" .}}
  {{ end }}
</head>
<body>
<main>
<header><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></header>
<div class="container">
{{ block "main" . }}
{{ end }}
</div>
</main>
</body>
</html>
