body {
background-color: #002b36;
}

main {
  max-width:960px;
  margin:auto;

}

header
{
 text-align:center;
}
img{
 max-width:500px;

}

li,p {
  color: #eee8d5;
}

a {
color: #859900;
}

a:visited{
color: #93a1a1;
}

h1 {
color: #dc322f;
}

h2{
color: #cb4b16;
background-color: #073642;
position: sticky;
top: 0;
}

h3 {
color:#b58900;

}

h4 {
  color:#268bd2;
}

h5  {
color: #859900;
}

mark {
color: white;
background-color: orange;
}

mark>a {
color:white;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002b36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #10B981;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

tr:nth-child(even) {
  background-color: #073642;
}

th {
  color: #268bd2;
}
table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.answer {
         color: #FFD700;
         background-color: #FFD700;
         filter: blur(20px);
        -webkit-filter: blur(20px);
        /*transition: 0.5s;*/
}
.answer:hover {
         /*color:green;*/
         background-color: #000000;
         filter: blur(0px);
        -webkit-filter: blur(0px);
}

.bred {
  background-color: red;
  color:#FFFFFF;

}

.born {
  background-color: orange;
  color:#FFFFFF;

}


.bgrn {
  background-color: green;
  color:#FFFFFF;

}

.bpup {
	background-color:#4B0082;
      color:#FFFFFF;

}
.bpnk {
	background-color:#FF00FF;
      color:#FFFFFF;

}
