li,p {
  color: #eee8d5;


}


h1 {
color:#B16286;
}

h2{
color: #689d6a;
background-color: #073642;
position: sticky;
top: 0;
}

h4 {
}

mark {
color: white;
background-color: orange;

}

mark>a {
color:white;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002b36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #10B981;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

tr:nth-child(even) {
  background-color: #073642;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.answer {
         color: #FFD700;
         background-color: #FFD700;
         filter: blur(20px);
        -webkit-filter: blur(20px);
        /*transition: 0.5s;*/
}
.answer:hover {
         /*color:green;*/
         background-color: #000000;
         filter: blur(0px);
        -webkit-filter: blur(0px);
}

