h2{
color: white;
background-color: #073642;
position: sticky;
top: 0;
}

h4 {
}

mark {
color: white;
background-color: orange;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002b36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

tr:nth-child(even) {
  background-color: #073642;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
